<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.web.orangehrm.loginPage" />

			<class name="com.web.orangehrm.homePage" />

			<class name="com.web.orangehrm.myInfoEdit" />

			<class name="com.web.orangehrm.myInfoRestrictedFields" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->